<div class='containercontainer-fluid'>
  <div class="row">
    <div class="col-7">
      <%= image_tag 'summer-g73af5cb27_1280.jpg', size: '750x740' %>
    </div>
    <div class="col-4">
      <div class="d-flex align-items-center justify-content-center text-mute" style="height:350px; width:100%">
        <h2>休日を楽しもう</h2>
      </div>
      <div class="d-flex align-items-center justify-content-center mb-4">
        <h2><%= link_to "新規登録はこちらから", new_user_registration_path %></h2>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <h2><%= link_to "登録済みの方はこちらから", new_user_session_path %></h2>
      </div>
    </div>
  </div>
</div>